{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section style="margin-top: 200px;" >

</section>
<div class="container  shadow-lg mt-5 p-3 mb-5 bg-white rounded"  >
  <h2>Password Reset</h2>
  <p>Enter your email to reset your password.</p>
  <form method="post" class="password-reset-form ">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i> Reset Password</button>
  </form>
</div>
{% endblock %}
