{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container " style="margin-top: 150px;">
    <div class="row justify-content-center">
        <div class="col-md-6 ">
            <div class="card mt-5 shadow-lg mt-3 p-3 mb-5 bg-white rounded">
                <div class="card-body " style="text-align: center;" >
                    <h2 class="card-title text-success" >Password Reset Successfully Done </h2>
                    <p>Now click this button for login again</p>
                    <a href="{% url 'profile' %}" class="btn btn-primary"><i class="fa fa-backward"></i> Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}