{% extends "base.html" %}
{% block content %}
    <div class="container " style="margin-top: 150px;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5 shadow-lg mt-3 p-3 mb-5 bg-white rounded ">
                    <div class="card-body">
                        <h2 class="card-title">Password Reset Link Sent In your Email</h2>
                        <p class="card-text">
                           
                                We have <span style="background-color: red; color:white">sent you an email</span> with instructions on how to reset your password.
                                If you don't receive the email within a few minutes, check your <span style="background-color: red; color:white" >spam</span> folder.
                           
                        </p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
