{% extends 'base.html' %}
{% load static %}

{% block title %}
  Courses List
{% endblock title %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-Z2nU9KHK+91s1U6PPjdd5IhCuUC3EjtT1aG7eR5i7LXlp9ZDb1kyWe1RCUnuBmFF" crossorigin="anonymous">

<section class="section new-course">
  <div class="container">
    <div class="section-header aos pt-5" data-aos="fade-up">
      <div class="section-sub-head">    
        <h2>Featured Courses</h2>
      </div>
     
    </div>
    <div class="section-text aos" data-aos="fade-up">
      <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget
        aenean accumsan bibendum gravida maecenas augue elementum et
        neque. Suspendisse imperdiet.
      </p>
    </div>
    <div class="course-feature">
      <div class="row">
        {% include 'course_card.html' %}   
          
    </div>
    {% include 'pagination.html' %}  
  </div>
</section>
{% endblock content %}
    

