{% extends 'base.html' %}
{% load static %}

{% block title %}
Saved Courses Page    
{% endblock title %}
    
{% block content %}

<style>
    /* Custom styles for the saved courses page */
    .container {
        text-align: center;
    }

    .saved-courses-heading {
        padding-bottom: 15px;
    }

    .wishlist-columns {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center; /* Center the columns */
        margin-top: 20px; /* Add some space at the top */
    }

    .wishlist-item {
        flex: 0 0 calc(33.33% - 20px); /* Adjust width based on the number of columns */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    .wishlist-thumbnail img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0; /* Rounded corners for the top */
    }

    .wishlist-details {
        padding: 15px;
    }

    .wishlist-actions {
        text-align: center;
        margin-top: 10px;
    }

    /* Responsive adjustments */
    @media (max-width: 767px) {
        .wishlist-item {
            flex: 0 0 calc(50% - 20px); /* Adjust width for smaller screens */
        }
    }
</style>

<div class="container py-5" style="margin-top: 50px;">
    <div>
        {% if messages %}
            {% include 'message.html' %}
        {% endif %}
    </div>

    <div class="saved-courses-heading">
        <h2>{{ user.username }}'s Saved Courses <i class="fa fa-bookmark"></i></h2>
        <p>Number of Saved Courses: {{ wishlist.courses.count }}</p>
    </div>

    {% if wishlist %}
        <div class="wishlist-columns">
            {% for course in wishlist.courses.all %}
                <div class="wishlist-item">
                    <div class="wishlist-thumbnail">
                        <img src="{{ course.banner.url }}" alt="{{ course.title }}">
                    </div>
                    <div class="wishlist-details">
                        <h6><a href="{% url 'course_details' slug=course.slug %}">{{ course.title }}</a></h6>
                        <div class="wishlist-actions">
                            <a href="{% url 'remove_from_wishlist' slug=course.slug %}" class="btn btn-danger"><i class="fa fa-trash"></i> Remove</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No Courses in the wishlist.</p>
    {% endif %}
</div>
{% endblock %}
